/*reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,article, aside, canvas, details, embed, figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*MAIN STYLE*/
* {
  box-sizing: border-box;
  outline: none;
}
h1{
  font-size: 60px;
  padding: 30px;
	font-weight: bolder;
	color: rgb(118, 119, 119);
	text-transform: lowercase;
	letter-spacing: 0.2rem;
}

a {
  text-decoration: none;
}
body{
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Roboto', sans-serif;
}
.list-editor{
  background-color: #F3F3F3;
  padding: 20px;
  margin-top: 50px;
}
.my-list{
	/* border:10px, solid, #ff9100; */
  padding-top: 10px;
}
li{
	display: flex;
  justify-content: space-between;
  padding: 10px 0;
	font-family: 'Roboto', serif;
}


button{
border: 0px;
display: inline-block;
background-color:#bf360c;
color:#ffffff;
border-radius: 25px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

button:hover{
	background-color: #ff9e80;
	color: black;
}
.fa-trash-alt{
  color: #f4511e;
  cursor: pointer;
}
/* add jquery animation when icon is hovered */
.fa-trash-alt:hover
{
	color: #ff9e80;
}
.done{
  text-decoration: line-through;
  opacity: 0.5;
}

/*Checkboxes styles source: https://codepen.io/valerypatorius/pen/oXGMGL*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f4511e;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
